<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
  <h1 *ngIf="!_ds.cargando" class="rk-logo"><a href="index.html">{{_ds.datos.nombre}}{{_ds.datos.apellido}}<sup>tm</sup></a></h1>

    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="active rk-menu__item"><a href="#" class="rk-menu__link">Home</a>
        </li>
        <li class="rk-menu__item"><a href="/educacion" class="rk-menu__link">Educación</a>
        <!--  <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a></li>
              <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a></li>
              <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a></li>
              <li class="rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a></li>
            </ul>
          </nav>-->
        </li>
        <li class="rk-menu__item"><a href="/experiencia" class="rk-menu__link">Experiencia</a>
        </li>

        <li class="rk-menu__item"><a href="#" class="rk-menu__link">Contacto</a>
        </li>
      </ul>

    </nav>
  </div>
</header>
