<div class="w3-panel w3-blue w3-card-4">
  <h3>Cargo Actual</h3>
  <p>Lider de auditoria y pruebas en NetW Consulting.</p>
</div>

<section class="ae-container ae-container-fluid--inner rk-portfolio">
<br/>
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

  <a href="/item/servicios" class="rk-item ae-masonry__item">
    <img src="assets/img/servicios.png" alt="">
      <div class="item-meta">
        <h2>Practicante</h2>
        <p>Servicios Nutresa</p>
      </div>
    </a>

      <a href="/item/cocrelab" class="rk-item ae-masonry__item">
        <img src="assets/img/cocrealab.png" alt="">
      <div class="item-meta">
        <h2>Colaborador</h2>
        <p>Cocrealab</p>
      </div>
    </a>

      <a href="/item/findaApp" class="rk-item ae-masonry__item">
        <img src="assets/img/logo.png" alt="">
      <div class="item-meta">
        <h2>Aplicativo Web</h2>
        <p>Administra tu Finca</p>
      </div>
    </a>



  </div>
</section>
